<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>DEA CODE TUTOR NODE 1</title>
  </head>

  <body>
    <div class="container">
      <h3><%=  title  %></h3>



      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nama</th>
            <th scope="col">Kelas</th>
            <th rowspan="2" scope="col">Opsi</th>
          </tr>
        </thead>
        <tbody>
          <% for(let user of users) { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.nama %></td>
            <td><%= user.kelas %></td>
            <td><a href="/hapus/<%= user.id %>">Hapus</a></td>
            <td><a href="/edit/<%= user.id %>">Edit</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>


      <h3>Tambah murid Baru</h3>
      <form action="/tambah" method="post">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Nama</label>
          <div class="col-sm-10">
            <input type="text" name="nama" class="form-control">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Kelas</label>
          <div class="col-sm-10">
            <input type="text" name="kelas" class="form-control">
          </div>
        </div>
        <input type="submit" value="Tambah Data" class="btn btn-danger" />
        <a href="/profile" class="btn btn-info">PROFILE</a>
      </form>

    </div>



  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</html>
